<nav class="navbar navbar-default" >
    <!-- <div class="container">
    <a href="#" class="navbar-brand">Home</a>
    </div> -->
  
  <div class="collapse navbar-collapse">
    <img class="img-responsive" src="../../assets/Logo.png">
    
   <ul class="nav navbar-nav">
       
    <li routerLinkActive="active"><a routerLink="#" class="text-center">Home</a></li>
     <li routerLinkActive="active"><a routerLink="#">Services</a></li>
     <li routerLinkActive="active"><a routerLink="#">Our Team</a></li>
     <li routerLinkActive="active"><a routerLink="#">Testimonials</a></li>
     <li routerLinkActive="active"><a routerLink="#">Blog</a></li>
   </ul>

   <ul class="nav navbar-nav navbar-right">
     <li>
       <a style="cursor: pointer;">Logout</a>
     </li>
   </ul>
  
  </div>
  </nav>
