<img src="../../assets/Hera Image.png" style="height: 740px; max-width: 1440px;">

<h3 style="text-align: center;">OUR TEAM</h3>

<h1 style="text-align: center;">MEET OUR HEROES</h1>

<div class="row">
    <div class="column">
        <img class="img-responsive" src="../../assets/Team-01.png">
        <br>
        <p>Senior Sales Manager</p>
        <br>
        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
    </div>
    <div class="column">
        <img class="img-responsive" src="../../assets/Team-02.png">
        <br>
        <p>Senior Sales Manager</p>
        <br>
        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
    </div>
    <div class="column">
        <img class="img-responsive" src="../../assets/Team-03.png">
        <br>
        <p>Senior Sales Manager</p>
        <br>
        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
    </div>
</div>

<section style="background: #F2F2F2;">
    <h1 style="text-align: center;">TESTIMONIALS</h1>
    <br>
    <div class="row">
        <div class="column1">
            <img class="img-responsive" src="../../assets/Testimonial-1.png" style="height: 71px; width: 71px;">
            <br>
            <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
            <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
        <div class="column1">
            <img class="img-responsive" src="../../assets/Testimonial-2.png" style="height: 71px; width: 71px;">
            <br>
            <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
        <div class="column1">
            <img class="img-responsive" src="../../assets/Testimonial-3.png" style="height: 71px; width: 71px;">
            <br>
            <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
            <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
    </div>
</section>

<section style="background: white">
    <h1 style="text-align: center;">LATEST NEWS FROM BLOG</h1>
    <br>
    <div class="row">
        <div class="container">
        <div class="column2">
            <img class="img-responsive" src="../../assets/Blog-1.png" style="height: 519px; width: 558px;">
            <br>
            <div class="top-left">19 JAN:</div>
            <br>
            <div class="left-left">BUSINESS POST</div>
            <br>
            <div class="bottom-left">Lorem ipsum dolor sit ametcon sectetu
                r adipisicing elit, sed doiusmod tempor
                 incidilabore et dolore magna aliqua. Ut
                  enim ad mini veniam, quis nostrud Lore
                  m ipsum dolor sit ametcon sectetur adi
                  pisicing elit, sed doiusmod tempor incid
                  ilabore et dolore magna aliqua. Ut enim
                   ad mini veniam, quis nostrud
                Lorem ipsum dolor sit ametcon sectetur adipisicing elit...</div>
            
        </div>
    </div>
    <!-- <div class="container1">
        <div class="column4">
            <div class="row1">
            <img src="../../assets/Blog-2.png">
            <br>
            <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore et dolore magna aliqua. Ut enim...</p>
            
        </div>
        <div class="row1">
            <img src="../../assets/Blog-3.png">
            <br>
            <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore et dolore magna aliqua. Ut enim</p>
            
        </div>
        <div class="row1">
            <img src="../../assets/Blog-4.png" >
            <br>
            <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore et dolore magna aliqua. Ut...</p>
            
        </div>
        </div>
    </div> -->
    </div>
</section>